html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} 

.navbar {
    min-height: 60px;
}

.navbar-brand {
    font-size: 1.5em;
    margin-right: 50px;
    padding-left: 24px;
    display: flex;
}

.navbar-nav {
    padding-left: 30%;
}

.container {
    margin-top: 50px;
}

.heading {
    font-size: 3em;
}

.form {
    margin: auto;
    width: 80%;
}

.job {
    margin-top: 20px;
}

.sub {
    text-decoration: none;
}
.sub :hover{
    background-color: #D3D3D3;
}

.hero {
    width: 50%;
    margin-top: 10%;
    text-align: center;
}

footer {
    margin-top: 20px;
    padding: 1rem;
    text-align: center;
}

main {
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}