html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background: linear-gradient(135deg, #1e1e2f, #121212);
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} 

.navbar {
    display: flex;
    min-height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-brand {
    font-size: 1.5em;
    margin-right: 50px;
    padding-left: 24px;
    display: flex;
}

.navbar-nav {
    padding-left: 30%;
}


.option {
    color: #fff;
}

.heading {
    font-size: 3.5rem;
    color: #fff;
}

.form {
    margin: auto;
    width: 80%;
}

.job {
    margin-top: 20px;
    background-color: #bbbbf8;
}



.job-card {
    text-decoration: none;
}
.job-card :hover{
    background-color: #D3D3D3;
}

.hero {
    /* margin-top: 10rem; */
    width: 100%;
    position: relative;
    padding: 100px 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7); 
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  .hero .container {
    position: relative;
    z-index: 3;
  }
  
  .hero h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
  }
  
  .hero p {
    margin: 10px 0 20px 0;
    font-size: 24px;
  }
  
.landing-hero {
    min-height: 90vh;
}

.cta {
    padding: 3rem;
    background-color: #1e1e2f;
}

.testimonials {
    padding: 3rem;
    background-color: #1e1e2f;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-input {
    width: 100%;
    max-width: 800px;
    padding: 5px 10px;
    border: 2px solid #1e1e2f;
    color: #fff;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    background-color: #2b2b4b;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
    border-color: #007bff; /* A nice blue accent */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

.search-input::placeholder {
    color: #aaa;
    font-style: italic;
}

@media (max-width: 768px) {
    .search-input {
        width: 80%;
    }
}

footer {
    min-height: 100px;
    padding: 1.5rem;
    text-align: center;
    align-content: center;
    align-items: center;
}

main {
    flex-grow: 1;
}

div {
    background: transparent;
    margin: 0;
    padding: 0;
}

.gradient-background {
    background: linear-gradient(135deg, #1e1e2f, #121212);
    z-index: -1;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.about {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lead {
    
    font-size: 1.2rem;
    color: #d8d2d2;
}

h2 {
    font-size: 1.8rem;
    color: #34495e;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

/* p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #555;
} */

.list {
    list-style: none;
    padding: 0;
    margin: 1rem 0 2rem;
}

.list li {
    margin-bottom: 0.75rem;
    padding-left: 1.5rem;
    position: relative;
}

.list li::before {
    content: "*";
    color: #3498db;
    position: absolute;
    left: 0;
    font-size: 1.2rem;
}

.list ul {
    padding-left: 3rem;
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #1abc9c;
}

.contact ul {
    padding-left: 1rem;
}

.contact ul li {
    font-size: 1rem;
}

.form-card {
    padding: 4rem;
    max-width: 70vh;
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero h2 {
      font-size: 32px;
      line-height: 36px;
    }
  
    .hero p {
      font-size: 18px;
      line-height: 24px;
    }
    .form-card {
        padding: 2rem;
        max-width: 40vh;
    }
  }

.push {
    margin-left: 1rem;
    margin-right: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    gap: 5px;
}

.page-item {
    display: inline-block;
}

.page-link {
    padding: 8px 15px;
    font-size: 14px;
    color: #ffffff;
    background-color: #2b2b4b;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.page-link:hover {
    background-color: #f0f0f0;
    color: #0056b3;
}

.page-item.active .page-link {
    color: white;
    background-color: #7171b8;
    border-color: #007bff;
    cursor: default;
}

.page-item.disabled .page-link {
    color: #999;
    background-color: #f9f9f9;
    border-color: #ddd;
    cursor: not-allowed;
}
